<article class='group_session small-12'>
  <aside class='group_session_host small-2'>
    <span class='group_session_host_name'></span>
  </aside>

  <header class='group_session_info small-8'>
    <h1 class='group_session_info_title'><%= group_session.title %></h1>
    <span class='group_session_info_description'>
      <%= group_session.description %>
  </span>
  </header>

  <aside class='group_session_meta small-2'>
    <time></time>
    <span class='group_session_meta_price'>Free</span>
  </aside>
</article>
