<aside class='group_session_host columns small-2'>
  <span class='group_session_host_image th radius'>
    <%= image_tag group_session.host_avatar, alt: 'host avatar',
                                             title: group_session.host_name,
                                             width: 100 %>
  </span>
  <span class='group_session_host_name'>
    <%= group_session.host_name %>
  </span>
</aside>
