<% if group_session.ready_to_start? %>
  <div class='row'>
    <div class='columns small-12'>
      <script src="https://apis.google.com/js/platform.js" async defer></script>
      <div class="g-hangout" data-render="createhangout"
                             data-topic='<%= group_session.title %>'
                             data-widget_size=175
                             data-hangout_type='onair'
                             data-initial_apps="[{ app_id : '<%= ENV["HANGOUTS_APP_ID"] %>',
                                                   start_data : '<%= group_session.id %>',
                                                   'app_type' : 'ROOM_APP' }]">
      </div>
    </div>
  </div>
<% end %>
