<div id="group_sessions">
  <% %W{live booked upcoming}.each do |type| %>
    <%= render 'sessions', type: type %>
  <% end %>
</div>

<%= link_to t('links.models.group_session.add'), new_group_session_path %>
