<%= render 'group_session', group_session: @group_session %>

<div class='row'>
  <div class='columns small-12'>
    <%= link_to t('links.models.group_session.edit'),
              edit_group_session_path(@group_session) %>
  </div>
</div>
