<%= render 'group_session', group_session: @group_session %>

<% if @group_session.host == current_user %>
  <% if @group_session.ready_to_start? %>
    <div class='row'>
      <div class='columns small-12'>
        <script src="https://apis.google.com/js/platform.js"></script>
        <div id="startHangout"></div>
        <script>
          gapi.hangout.render('startHangout', {
            'render': 'createhangout',
            'hangout_type': 'onair',
            'initial_apps': [{ 'app_id' : '<%= ENV["HANGOUTS_APP_ID"] %>',
                               'start_data' : 'dQw4w9WgXcQ',
                               'app_type' : 'ROOM_APP' }],
            'widget_size': 175,
            'topic': '<%= @group_session.title %>'
          });
        </script>
      </div>
    </div>
  <% end %>

  <div class='row'>
    <div class='columns small-12'>
      <%= link_to t('links.models.group_session.edit'),
                  edit_group_session_path(@group_session) %>
    </div>
  </div>
<% end %>
