<p>Hey, thanks for booking <strong><%= @group_session_title %></strong>!</p>

<p>The session starts at <strong><%= @start_time %></strong>. An email will be sent to remind you.</p>

<p><%= link_to @url, @url %></p>

<p>Thanks,<br>Jamby</p>
