<p>Hey, thanks for booking <%= @group_session_title %>!</p>

<p>The session starts at <%= @start_time %>. An email will be sent to remind you.</p>

<p><%= link_to @url, @url %></p>

<p>Thanks,<br>Jamby</p>
