<p>Good news! The host of <strong><%= @group_session_title %></strong> lowered the ticket price to <strong><%= @price %></strong>!</p>

<p>You will be refunded the difference of <strong><%= @difference %></strong></p>

<p>Thanks,<br>Jamby</p>
