---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[name]=Joe%20Sak&card[number]=4242424242424242&card[exp_month]=8&card[exp_year]=2015&card[cvc]=123&description=userguy1%40email.com
    headers:
      Authorization:
      - Bearer sk_test_UU7bBFT4BMFznL5a35ZE0CIx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-01-31'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1411339394,
          "id": "cus_4oww1zQzkgC99I",
          "livemode": false,
          "description": "userguy1@email.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4oww1zQzkgC99I/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4oww1zQzkgC99I/cards",
            "data": [
              {
                "id": "card_14fJ302L7z1ZOsnrCdT1GbwV",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 8,
                "exp_year": 2015,
                "fingerprint": "YLXIMHjCTxjLsj9Z",
                "country": "US",
                "name": "Joe Sak",
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4oww1zQzkgC99I",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_card": "card_14fJ302L7z1ZOsnrCdT1GbwV"
        }
  recorded_at: Sun, 21 Sep 2014 22:43:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=100&currency=usd&customer=cus_4oww1zQzkgC99I&description=Charge%20for%20userguy1%40email.com%20booking%20Free%20session
    headers:
      Authorization:
      - Bearer sk_test_UU7bBFT4BMFznL5a35ZE0CIx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-01-31'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14fJ302L7z1ZOsnrFLEbL1UE",
          "object": "charge",
          "created": 1411339394,
          "livemode": false,
          "paid": true,
          "amount": 100,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_14fJ302L7z1ZOsnrCdT1GbwV",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 8,
            "exp_year": 2015,
            "fingerprint": "YLXIMHjCTxjLsj9Z",
            "country": "US",
            "name": "Joe Sak",
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": "cus_4oww1zQzkgC99I",
            "type": "Visa"
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_14fJ312L7z1ZOsnrkbNa6BeC",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_4oww1zQzkgC99I",
          "invoice": null,
          "description": "Charge for userguy1@email.com booking Free session",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null
        }
  recorded_at: Sun, 21 Sep 2014 22:43:15 GMT
recorded_with: VCR 2.9.3
