---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/recipients
    body:
      encoding: US-ASCII
      string: name=Joe%20Sak&type=individual&bank_account[country]=US&bank_account[routing_number]=110000000&bank_account[account_number]=000123456789
    headers:
      Authorization:
      - Bearer sk_test_UU7bBFT4BMFznL5a35ZE0CIx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "rp_14xutD2L7z1ZOsnrYyxhhFRL",
          "object": "recipient",
          "created": 1415774763,
          "livemode": false,
          "type": "individual",
          "description": null,
          "email": null,
          "name": "Joe Sak",
          "verified": false,
          "metadata": {},
          "active_account": {
            "object": "bank_account",
            "id": "ba_14xutD2L7z1ZOsnrsdMfpDwy",
            "last4": "6789",
            "country": "US",
            "currency": "usd",
            "status": "new",
            "fingerprint": "XJGQs2pPWYzzow5E",
            "bank_name": "STRIPE TEST BANK",
            "default_for_currency": false
          },
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/recipients/rp_14xutD2L7z1ZOsnrYyxhhFRL/cards",
            "data": []
          },
          "default_card": null
        }
  recorded_at: Wed, 12 Nov 2014 06:46:03 GMT
recorded_with: VCR 2.9.3
