---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4oqCQThdyMDLQV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_UU7bBFT4BMFznL5a35ZE0CIx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-01-31'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "cus_4oqCQThdyMDLQV"
        }
  recorded_at: Sun, 21 Sep 2014 16:58:33 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_4oqCQThdyMDLQV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_UU7bBFT4BMFznL5a35ZE0CIx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-01-31'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such customer: cus_4oqCQThdyMDLQV",
            "param": "id"
          }
        }
  recorded_at: Sun, 21 Sep 2014 16:58:34 GMT
recorded_with: VCR 2.9.3
