---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/90928/events?auth_key=ffb717c331cbfe9d8153&auth_signature=95eb33dbadcfce39112825f667b12de72f1a3afb97ec511b08c883134a321b9b&auth_timestamp=1411848828&auth_version=1.0&body_md5=68ce25e74804bd7732d3eb0d4406f664
    body:
      encoding: UTF-8
      string: '{"name":"session_is_live","channels":["private-1"],"data":"{\"url\":\"http://url\"}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Sat, 27 Sep 2014 20:13:49 GMT
[...]
- request:
    method: post
    uri: http://api.pusherapp.com/apps/90928/events?auth_key=ffb717c331cbfe9d8153&auth_signature=3061c104917999e7343fe068f1b4c0e37b056709add3082d138658afc2b4f29a&auth_timestamp=1411851581&auth_version=1.0&body_md5=68ce25e74804bd7732d3eb0d4406f664
    body:
      encoding: UTF-8
      string: '{"name":"session_is_live","channels":["private-1"],"data":"{\"url\":\"http://url\"}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Sat, 27 Sep 2014 20:59:41 GMT
recorded_with: VCR 2.9.3
