---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_14idXK2L7z1ZOsnrZgigMzqt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_UU7bBFT4BMFznL5a35ZE0CIx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14idXK2L7z1ZOsnrZgigMzqt",
          "object": "charge",
          "created": 1412133138,
          "livemode": false,
          "paid": true,
          "amount": 100,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_14fIQG2L7z1ZOsnrLJ20V9AZ",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 10,
            "exp_year": 2019,
            "fingerprint": "YLXIMHjCTxjLsj9Z",
            "country": "US",
            "name": "Joseph Sak",
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": "cus_4owBd56c0O71sU"
          },
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_14idXK2L7z1ZOsnrZgigMzqt/refunds",
            "data": []
          },
          "balance_transaction": "txn_14idXK2L7z1ZOsnrhLYdwJJg",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_4owBd56c0O71sU",
          "invoice": null,
          "description": "Charge for joe2@joesak.com booking Joe is cool",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null,
          "receipt_number": null
        }
  recorded_at: Thu, 02 Oct 2014 02:30:10 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_14idXK2L7z1ZOsnrZgigMzqt/refunds
    body:
      encoding: US-ASCII
      string: amount=50
    headers:
      Authorization:
      - Bearer sk_test_UU7bBFT4BMFznL5a35ZE0CIx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "re_14izM72L7z1ZOsnrVclW8aTP",
          "amount": 50,
          "currency": "usd",
          "created": 1412217011,
          "object": "refund",
          "balance_transaction": "txn_14izM72L7z1ZOsnrb1JA5bHL",
          "metadata": {},
          "charge": "ch_14idXK2L7z1ZOsnrZgigMzqt",
          "receipt_number": null
        }
  recorded_at: Thu, 02 Oct 2014 02:30:11 GMT
recorded_with: VCR 2.9.3
