---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_14idw52L7z1ZOsnrb3cnglVa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_UU7bBFT4BMFznL5a35ZE0CIx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14idw52L7z1ZOsnrb3cnglVa",
          "object": "charge",
          "created": 1412134673,
          "livemode": false,
          "paid": true,
          "amount": 100,
          "currency": "usd",
          "refunded": true,
          "card": {
            "id": "card_14fIQG2L7z1ZOsnrLJ20V9AZ",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 10,
            "exp_year": 2019,
            "fingerprint": "YLXIMHjCTxjLsj9Z",
            "country": "US",
            "name": "Joseph Sak",
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": "cus_4owBd56c0O71sU"
          },
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/charges/ch_14idw52L7z1ZOsnrb3cnglVa/refunds",
            "data": [
              {
                "id": "re_14iywu2L7z1ZOsnrt6FfjWQZ",
                "amount": 100,
                "currency": "usd",
                "created": 1412215448,
                "object": "refund",
                "balance_transaction": "txn_14iywu2L7z1ZOsnrXFe5A1kb",
                "metadata": {},
                "charge": "ch_14idw52L7z1ZOsnrb3cnglVa",
                "receipt_number": null
              }
            ]
          },
          "balance_transaction": "txn_14idw52L7z1ZOsnrYkHecNGF",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 100,
          "customer": "cus_4owBd56c0O71sU",
          "invoice": null,
          "description": "Charge for joe2@joesak.com booking Joe is cool",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null,
          "receipt_number": null
        }
  recorded_at: Thu, 02 Oct 2014 02:05:31 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_14idw52L7z1ZOsnrb3cnglVa/refunds
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_UU7bBFT4BMFznL5a35ZE0CIx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "Charge ch_14idw52L7z1ZOsnrb3cnglVa has already been refunded."
          }
        }
  recorded_at: Thu, 02 Oct 2014 02:05:31 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_14idZB2L7z1ZOsnrWNam4P1n
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_UU7bBFT4BMFznL5a35ZE0CIx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
 [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_14idZB2L7z1ZOsnrWNam4P1n/refunds
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_UU7bBFT4BMFznL5a35ZE0CIx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "re_14iyyu2L7z1ZOsnrHn4KzB4r",
          "amount": 100,
          "currency": "usd",
          "created": 1412215572,
          "object": "refund",
          "balance_transaction": "txn_14iyyu2L7z1ZOsnrLPY1K4TO",
          "metadata": {},
          "charge": "ch_14idZB2L7z1ZOsnrWNam4P1n",
          "receipt_number": null
        }
  recorded_at: Thu, 02 Oct 2014 02:06:12 GMT
recorded_with: VCR 2.9.3
