---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[name]=Joseph%20Sak&card[number]=4111111111111111&card[exp_month]=1&card[exp_year]=2015&card[cvc]=123&description=accountguy1%40email.com
    headers:
      Authorization:
      - Bearer sk_test_UU7bBFT4BMFznL5a35ZE0CIx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1413351028,
          "id": "cus_4xfibCY8H7CNAu",
          "livemode": false,
          "description": "accountguy1@email.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4xfibCY8H7CNAu/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4xfibCY8H7CNAu/cards",
            "data": [
              {
                "id": "card_14nkMi2L7z1ZOsnrrTSJIImL",
                "object": "card",
                "last4": "1111",
                "brand": "Visa",
                "funding": "unknown",
                "exp_month": 1,
                "exp_year": 2015,
                "fingerprint": "NWaGmOeJgKG5VPPE",
                "country": "US",
                "name": "Joseph Sak",
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4xfibCY8H7CNAu"
              }
            ]
          },
          "default_card": "card_14nkMi2L7z1ZOsnrrTSJIImL"
        }
  recorded_at: Wed, 15 Oct 2014 05:30:28 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=200&currency=usd&customer=cus_4xfibCY8H7CNAu&description=Group%20session%3A%20beda6f85-1036-41c9-835b-989a731699ea%20for%20Joe%20Account
    headers:
      Authorization:
      - Bearer sk_test_UU7bBFT4BMFznL5a35ZE0CIx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14nkNf2L7z1ZOsnrMXChy0ia",
          "object": "charge",
          "created": 1413351087,
          "livemode": false,
          "paid": true,
          "amount": 200,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_14nkMi2L7z1ZOsnrrTSJIImL",
            "object": "card",
            "last4": "1111",
            "brand": "Visa",
            "funding": "unknown",
            "exp_month": 1,
            "exp_year": 2015,
            "fingerprint": "NWaGmOeJgKG5VPPE",
            "country": "US",
            "name": "Joseph Sak",
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": "cus_4xfibCY8H7CNAu"
          },
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_14nkNf2L7z1ZOsnrMXChy0ia/refunds",
            "data": []
          },
          "balance_transaction": "txn_14nkNf2L7z1ZOsnr5lQrQZUG",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_4xfibCY8H7CNAu",
          "invoice": null,
          "description": "Group session: beda6f85-1036-41c9-835b-989a731699ea for Joe Account",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null
        }
  recorded_at: Wed, 15 Oct 2014 05:31:27 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_14nkNf2L7z1ZOsnrMXChy0ia
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_UU7bBFT4BMFznL5a35ZE0CIx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
 [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_14nkNf2L7z1ZOsnrMXChy0ia/refunds
    body:
      encoding: US-ASCII
      string: amount=100
    headers:
      Authorization:
      - Bearer sk_test_UU7bBFT4BMFznL5a35ZE0CIx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "re_14nkNg2L7z1ZOsnrGTPl3pTz",
          "amount": 100,
          "currency": "usd",
          "created": 1413351088,
          "object": "refund",
          "balance_transaction": "txn_14nkNg2L7z1ZOsnrfWSPtLS2",
          "metadata": {},
          "charge": "ch_14nkNf2L7z1ZOsnrMXChy0ia",
          "receipt_number": null
        }
  recorded_at: Wed, 15 Oct 2014 05:31:28 GMT
[...]
