---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[name]=Joseph%20Sak&card[number]=4111111111111111&card[cvc]=123&card[exp_month]=8&card[exp_year]=16&description=userguy1%40email.com
    headers:
      Authorization:
      - Bearer sk_test_UU7bBFT4BMFznL5a35ZE0CIx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-01-31'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1411275832,
          "id": "cus_4ofrdC1TNVkDiV",
          "livemode": false,
          "description": "userguy1@email.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4ofrdC1TNVkDiV/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4ofrdC1TNVkDiV/cards",
            "data": [
              {
                "id": "card_14f2Vo2L7z1ZOsnrGcwku2bA",
                "object": "card",
                "last4": "1111",
                "brand": "Visa",
                "funding": "unknown",
                "exp_month": 8,
                "exp_year": 2016,
                "fingerprint": "NWaGmOeJgKG5VPPE",
                "country": "US",
                "name": "Joseph Sak",
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4ofrdC1TNVkDiV",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_card": "card_14f2Vo2L7z1ZOsnrGcwku2bA"
        }
  recorded_at: Sun, 21 Sep 2014 05:03:52 GMT
recorded_with: VCR 2.9.3
