---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: US-ASCII
      string: amount=80&currency=usd&recipient=rp_14xutD2L7z1ZOsnrYyxhhFRL
    headers:
      Authorization:
      - Bearer sk_test_UU7bBFT4BMFznL5a35ZE0CIx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_14xuuS2L7z1ZOsnrtlLICizh",
          "object": "transfer",
          "created": 1415774840,
          "date": 1415774840,
          "livemode": false,
          "amount": 80,
          "currency": "usd",
          "status": "pending",
          "type": "bank_account",
          "balance_transaction": "txn_14xuuS2L7z1ZOsnrn8l9gWbE",
          "bank_account": {
            "object": "bank_account",
            "id": "ba_14xutD2L7z1ZOsnrsdMfpDwy",
            "last4": "6789",
            "country": "US",
            "currency": "usd",
            "status": "new",
            "fingerprint": "XJGQs2pPWYzzow5E",
            "bank_name": "STRIPE TEST BANK",
            "default_for_currency": false
          },
          "description": null,
          "failure_message": null,
          "failure_code": null,
          "metadata": {},
          "statement_description": null,
          "recipient": "rp_14xutD2L7z1ZOsnrYyxhhFRL"
        }
  recorded_at: Wed, 12 Nov 2014 06:47:20 GMT
recorded_with: VCR 2.9.3
