---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[name]=&card[number]=4242424242424242&card[cvc]=&card[exp_month]=1&card[exp_year]=2015&description=userguy1%40email.com
    headers:
      Authorization:
      - Bearer sk_test_UU7bBFT4BMFznL5a35ZE0CIx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-01-31'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card's security code is invalid.",
            "type": "card_error",
            "param": "cvc",
            "code": "invalid_cvc"
          }
        }
  recorded_at: Sun, 21 Sep 2014 15:59:16 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4oqCQThdyMDLQV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_UU7bBFT4BMFznL5a35ZE0CIx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-01-31'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1411314311,
          "id": "cus_4oqCQThdyMDLQV",
          "livemode": false,
          "description": "userguy1@email.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4oqCQThdyMDLQV/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4oqCQThdyMDLQV/cards",
            "data": [
              {
                "id": "card_14fCWR2L7z1ZOsnrGezgCBkz",
                "object": "card",
                "last4": "1111",
                "brand": "Visa",
                "funding": "unknown",
                "exp_month": 1,
                "exp_year": 2015,
                "fingerprint": "NWaGmOeJgKG5VPPE",
                "country": "US",
                "name": "Joseph Sak",
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4oqCQThdyMDLQV",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_card": "card_14fCWR2L7z1ZOsnrGezgCBkz"
        }
  recorded_at: Sun, 21 Sep 2014 16:11:14 GMT
[...]
