---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[name]=Joseph%20Sak&card[number]=4111111111111111&card[cvc]=123&card[exp_month]=1&card[exp_year]=13
    headers:
      Authorization:
      - Bearer sk_test_UU7bBFT4BMFznL5a35ZE0CIx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-01-31'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card's expiration year is invalid.",
            "type": "card_error",
            "param": "exp_year",
            "code": "invalid_expiry_year"
          }
        }
  recorded_at: Sun, 21 Sep 2014 15:20:01 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[name]=Joseph%20Sak&card[number]=4111111111111111&card[cvc]=123&card[exp_month]=1&card[exp_year]=13
    headers:
      Authorization:
      - Bearer sk_test_UU7bBFT4BMFznL5a35ZE0CIx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-01-31'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card's expiration year is invalid.",
            "type": "card_error",
            "param": "exp_year",
            "code": "invalid_expiry_year"
          }
        }
  recorded_at: Sun, 21 Sep 2014 15:20:02 GMT
recorded_with: VCR 2.9.3
