<nav>
  <% if guest? %>
    <%= link_to t('links.models.signup.new'), signup_path %>&nbsp;|
    <%= link_to t('links.models.signin.new'), signin_path %>
  <% else %>
    <%= link_to t('links.models.signin.destroy'), signout_path, method: :delete,
                data: { confirm: t('controllers.signins.destroy.confirm') } %>
  <% end %>
</nav>

<div class='account-info'>
  <span class='username'>
    <%= link_to_unless guest?, current_user.username, dashboard_account_path %>
  </span>
</div>
