<%= div_for payout_account, class: 'columns small-12' do %>
  <p>
    <%= payout_account.display_name %><br/>
    <%= link_to t('links.models.payout_account.edit'),
                edit_payout_account_path(payout_account) %>&nbsp;|
    <%= link_to t('links.models.payout_account.delete'),
                payout_account_path(payout_account),
                method: :delete, data: {
                  confirm: t('controllers.payout_accounts.destroy.confirm')
                } %>
  </p>
<% end %>
