@import 'foundation_and_overrides';
@import 'rehearsal';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'group_sessions';

#flash_messages {
  margin-top: 15px;
}

.aux {
  text-transform: lowercase;
}

form em {
  display: block;
  font-size: 0.8em;
}
