.group_session_meta_price {
  display: block;
}

.group_session_host_image {
  display: block;
  width: 100px;
}

.group_session_host_name {
  display: block;
  font-size: 0.8em;
}

#guest_list {
  h5 {
    margin-top: 1em;
  }
}

.guest_list_avatar {
  width: 50px;
}

h1.group_session_info_title {
  font-size: $h3-font-size;
  margin: 0;
  line-height: 1;
}

.group_session_info_description {
  display: block;
  padding-top: 0.5em;
}

.sessions_list {
  position: relative;
  padding-top: 1.5em;

  > .label {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.group_session {
  .button {
    text-transform: uppercase;
    letter-spacing: 1px;
    small {
      display: block;
    }
  }
  .label {
    display: block;
  }
}

.group_session_info {
  time {
    display: block;
    font-weight: bold;
  }
}

.new_group_session, .edit_group_session {
  textarea {
    height: 150px;
  }
}

#group_session_full_description, #hangout_button, #group_session_admin, #join_session, #watch_live {
  margin-top: 1em;
}

.label {
  &.hosted {
    background-color: purple;
  }
}
