<h1>Your live session has been booked!</h1>

<p>Hey! <%= @participant_name %> has booked your session <%= @group_session_title %>!</p>

<p>See your group session at <%= link_to @url, @url %></p>

<p>Thanks,<br>Jamby</p>
