<h1>Participant canceled</h1>

<p>Hey, sorry, someone canceled your session <%= @group_session_title %>.</p>

<p>They may have just deleted their account, so don't take it personally. They will be refunded for whatever price they paid.</p>

<p>Thanks,<br>Jamby</p>
