<h1>Participant canceled</p>

<p>Hey, sorry, but <%= @participant_name %> canceled your session <%= @group_session_title %>.</p>

<p>They may have just deleted their account, so don't take it personally. They will be refunded for whatever price they paid.</p>

<p>Thanks,<br>Jamby</p>
