<div class='columns small-6 small-centered'>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</div>

<div class='columns small-6 small-centered'>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</div>
