<div class='columns small-6 small-centered'>
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>

<div class='columns small-6 small-centered'>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
</div>
